<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<description>Shiro安全配置</description>
	
    <!-- 会话DAO -->  
    <bean id="sessionDAO" class="com.letvcloud.uc.service.CustomSessionDAO">
    </bean>
    
    <bean id="sessionManager" class="org.apache.shiro.session.mgt.DefaultSessionManager">  
        <property name="globalSessionTimeout" value="7200000"/>  
        <property name="sessionDAO" ref="sessionDAO"/>  
    </bean>
    
	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.mgt.DefaultSecurityManager">
		<property name="cacheManager" ref="customCacheManager" />
		<property name="sessionManager" ref="sessionManager"/>
	</bean>

	<!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="customCacheManager" class="com.letvcloud.uc.service.CustomCacheManager">
        <property name="expireTime" value="1800"/>
    </bean>
    
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>